<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <script src="{{ "/assets/javascript/vendor/jquery-3.3.1.slim.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/vendor/popper.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/vendor/bootstrap.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/main.js" | relative_url }}"></script>
</head>
<body>
